---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - scaling.dcn.ssu.ac.kr
  resources:
  - namespacequotas
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - scaling.dcn.ssu.ac.kr
  resources:
  - namespacequotas/finalizers
  verbs:
  - update
- apiGroups:
  - scaling.dcn.ssu.ac.kr
  resources:
  - namespacequotas/status
  verbs:
  - get
  - patch
  - update
