apiVersion: scaling.dcn.ssu.ac.kr/v1
kind: NamespaceQuota
metadata:
  labels:
    app.kubernetes.io/name: quota-based-autoscaling
    app.kubernetes.io/managed-by: kustomize
  name: namespacequota-sample
  namespace: quota-test
spec:
  clusterRef:
    name: sample-cluster
    repositoryUrl: https://github.com/sample/repository
    endpointServer: https://sample-cluster-endpoint.com

  # The ResourceQuota in the namespace that this controller/webhook manages
  appliedQuotaRef:
    namespace: quota-test
    name: sample-appliedquota

  behavior:
  # Quota Scaling Logic — Increase quota first if cluster has free capacity
    quotaScaling:
      enabled: true
      minQuota:                  # Lower bound for auto-patching quotas
        cpu: "500m"
        memory: "512Mi"
        # nvidia.com/gpu: "0"
      maxQuota:                   # Upper bound controller will not exceed
        cpu: "3"
        memory: "3Gi"
        # nvidia.com/gpu: "4"
      scaleStep:                  # Increment step for scaling quotas
        cpu: "500m"
        memory: "512Mi"
        # nvidia.com/gpu: "1"
      targetQuotaUtilization: 70 # Trigger quota increase when usage > 70%


    # Node Scaling Logic — If cluster has no free capacity
    nodeScaling:
      enabled: true
      minNodes: 1
      maxNodes: 5
      nodeFlavor: standard-medium
      scaleUpCooldownSeconds: 85   # Prevent rapid, repeated node scaling
      scaleUpThreshold: 70          # Trigger node scale-up when allocatable usage > 70%
