apiVersion: scaling.dcn.ssu.ac.kr/v1
kind: NamespaceQuota
metadata:
  labels:
    app.kubernetes.io/name: quota-based-autoscaling
    app.kubernetes.io/managed-by: kustomize
  name: namespacequota-sample
spec:
  # TODO(user): Add fields here
